	
/* Import fonts from google */
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900|Poppins:400,500,600,700&display=swap");

body {
  background-color: #f1f1f1;
  /* background-color: #3a3971; */
}

/* Common styles for headings */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', Helvetica, sans-serif;
  color: #000a2d;
  font-weight: 500;
}

p {
  margin-bottom: 15px;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: #10285d;
  line-height: 30px;
}

a {
  color: #635c5c;
}

a:hover {
  color: #fff;
}

a:focus,
a:hover {
  text-decoration: none;
}

a, button {
  color: #fff;
  outline: medium none;
}

.paragraph {
  padding-bottom: 15px;
}
